#wrapper {
    width: 800px;
    margin: 0px auto;
    font-family: sans-serif;
}

#sketcharea {
    margin:15px 0px;
}

.sketchbox {
    height:19px;
    width: 19px;
    margin: 0px 1px;
    display: inline-block;
    background-color: gainsboro;
}

.button {
    margin:10px 2px 1px 0px;
}

.heading-div {
    margin:15px 0px 0px 0px;
    padding:15px 5px 15px 5px;
    font-size:18px;
    font-weight:bold;
    background-color:#5af;
    text-align: center;
}

.footer-div {
    background-color:#5af;
    padding:5px;
}

.footer-item {

}

.footer-item-right {
    float:right;
}